# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Sanal ortam
venv/
venv310/
env/
ENV/

# TensorFlow modelleri
*.h5
*.ckpt

# CSV, veri dosyaları
*.csv
*.tsv

# IDE ve sistem dosyaları
.DS_Store
Thumbs.db
.vscode/
.idea/

# React (frontend) için
node_modules/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ortam değişkenleri
.env
.env.*